<app-content-base [content]="{
title:'Kazári Közös Önkormányzati Hivatal',
paragraphs:[
'<b>Hivatal neve:</b>',
'Kazári Közös Önkormányzati Hivatal',
'<b>Létrehozói:</b>',
'Kazár Község Önkormányzata',
'Rákóczibánya Község Önkormányzata',
'<b>Székhely:</b>',
'3127 Kazár, Tanács út 1.',
'<b>Postacím:</b>',
'3127 Kazár, Tanács út 1.',
'<b>Telefonszám/fax:</b>',
'32/341-333',
'<b>Központi elektronikus levélcím:</b>',
'kazar@kazar.hu',
'<b>Ügyfélfogadási rendje:</b>',
'Hétfő: 12:00-17:00',
'Kedd: 08:00-12:00',
'Szerda: 08:00-12:00',
'Csütörtök: nincs ügyfélfogadás',
'Péntek: 08:00-12:00',

'<b>Feladata:</b>',
'Közreműködik az önkormányzatok egymás közötti, valamint az állami szervekkel történő együttműködésének összehangolásában.',
'<b>Illetékfizetési számla száma:</b>',
'55400170-11030984',
'<h2>Kazár Közös Önkormányzati Hivatal szervezeti struktúrája</h2>',
'Közös Hivatal vezetője:',
'Pollák József - jegyző',
'kazar@kazar.hu',
'<b>Szervezeti tagozódás:</b>',
'<ul>' +
 '<li>adóügyek</li>' +
 '<li>igazgatási ügyek</li>' +
 '<li>informatika</li>' +
 '<li>pénzügy</li>' +
 '<li>szociális ügyek</li>' +
 '<li>ügykezelés</li>' +
'</ul>',
'<b>Munkatársak:</b>',
'<u>Adóügyek:</u>',
'<b>Milcsovics Dávid</b>',
'Elérhetőség: ado@kazar.hu',
'Feladatai:',
'<ul>' +
 '<li>pénztár</li>' +
 '<li>ebadó</li>' +
 '<li>gépjárműadó</li>' +
 '<li>helyi iparűzési adó</li>' +
 '<li>talajterhelési díj</li>' +
 '<li>közigazgatási bírság, szabálysértés</li>' +
'</ul>',
'<u>Igazgatási ügyek:</u>',
'<b>Nagy Edit:</b>',
'Elérhetőség: igazgatas@kazar.hu<br>Feladatai:',
'<ul>' +
 '<li>adó- és értékbizonyítvány</li>' +
 '<li>birtokvédelem</li>' +
 '<li>hatósági bizonyítvány</li>' +
 '<li>hátrányos helyzet megállapítása</li>' +
 '<li>kereskedelmi engedély</li>' +
 '<li>környezettanulmány</li>' +
 '<li>közadattár</li>' +
 '<li>közérdekű panasz</li>' +
 '<li>óvodáztatási támogatás</li>' +
 '<li>rendszeres gyermekvédelmi kedvezmény</li>' +
 '<li>statiszikai jelentések</li>' +
 '<li>telephelyengedély</li>' +
 '<li>településrendezés</li>' +
 '<li>választás</li>' +
'</ul>',
'<h5>Informatika:</h5>'+
'<p><strong>Ádám László</strong><br />'+
'Elérhetőség:<br />'+
'Feladatai:  </p>'+
'<ul>'+
'<li>általános informatikai feladatok ellátása</li>'+
'</ul>'+
'<h5>Pénzügyek:</h5>'+
'<p><strong>Nagyné Séber Lívia</strong><br />'+
'Elérhetőség: penzugy1@kazar.hu<br />'+
'Feladatai:  </p>'+
'<ul>'+
'<li>könyvelés</li>'+
'<li>számlanyilvántartás</li>'+
'<li>normatíva igénylés és elszámolás</li>'+
'<li>pénzügyi jelentések</li>'+
'<li>OEP és ÁNTSZ szerződések</li>'+
'<li>költségvetés és beszámolók</li>'+
'<li>pályázatok pénzügyi jelentései</li>'+
'</ul>'+
'<h5>Szociális ügyek:</h5>'+
'<p><strong>Gecse Lászlóné</strong><br />'+
'Elérhetőség:    szocialis@kazar.hu<br />'+
'Feladatai:</p>'+
'<ul>'+
'<li>aktív korúak ellátása</li>'+
'<li>anyakönyv</li>'+
'<li>élelmiszersegély</li>'+
'<li>hagyatéki eljárás</li>'+
'<li>képviselő testületi anyagok adminisztrációja</li>'+
'<li>környezettanulmány</li>'+
'<li>lakásfenntartási támogatás</li>'+
'<li>méltányossági közgyógyellátás</li>'+
'<li>önkormányzati segélyek</li>'+
'<li>tüzifakérelmek</li>'+
'</ul>'+
'<h5>Ügykezelés, ügyfélfogadás:</h5>'+
'<p><strong>Turányi Zoltánné</strong><br />'+
'Elérhetőség: iktatas@kazar.hu<br />'+
'Feladatai:</p>'+
'<ul>'+
'<li>ügyfélfogadás</li>'+
'<li>iktatás</li>'+
'<li>telefonközpontos feladatok</li>'+
'<li>lakcímbejelentés</li>'+
'<li>irattár</li>'+
'</ul>'+
'<h3>Rákóczibányai kirendeltség munkatársai:</h3>'+
'<h5>Igazgatási- és szociális ügyek, ügykezelés, ügyfélfogadás:</h5>'+
'<p><strong>Dányi Mikósné</strong><br />'+
'Elérhetőség: rakoczibanya@rakoczibanya.hu  </p>'+
'<h5>Pénzügyek:</h5>'+
'<p><strong>Sinka Istvánné</strong><br />'+
'Elérhetőség: rakoczibanya@rakoczibanya.hu  </p>'+
'<h5>Bér- és munkaügyek, ügykezelés, ügyfélfogadás:</h5>'+
'<p><strong>Vass Ákosné</strong><br />'+
'Elérhetőség: rakoczibanya@rakoczibanya.hu </p>'
]
}"></app-content-base>
