@import "src/variables";

.full-background {
  background-size: cover;
  background-image: url("../../assets/parallel/full.jpg");
  -webkit-box-shadow: -10px 0px 20px 2px rgba(0, 0, 0, 0.35);
  box-shadow: -10px 0px 20px 2px rgba(0, 0, 0, 0.35);
}

.background {
  background-size: cover;
  background-image: url("../../assets/parallel/sky.png");
  position: absolute;
  z-index: 2;
}

.foreground {
  background-size: cover;
  background-image: url("../../assets/parallel/front.png");
  position: absolute;
  z-index: 4;
}

.info-text {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  color: white;
  text-shadow: $shadow;
}

.weather-panel {
  color: white;
  font-size: 48px;
  font-weight: bolder;
  text-shadow: $shadow;
}
