<!--<div class="d-md-flex align-items-center h-md-100 justify-content-center full-background">-->
<!--  <div class="d-md-flex align-items-center h-100 w-100 justify-content-center background">-->
<!--    <div class="d-md-flex align-items-end h-100 w-100 p-5 justify-content-center foreground">-->
<!--      <app-slide-show class="w-100"-->
<!--        [values]="[{label:'Rákóczibánya területe 4,57 km²'},{label:'Teljes népesség 668 fő (2015. jan. 1.)'},{label:temperature+' °C',img:iconUrl}]"></app-slide-show>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="d-md-flex align-items-center h-md-100 h-sd-100 justify-content-center full-background">
  <div class="d-md-flex align-items-center h-md-100 h-sd-100 w-100 justify-content-center background">
    <div class="d-md-flex align-items-end h-md-100 h-sd-100 w-100 p-5 justify-content-center foreground">
      <app-slide-show class="w-100"
                      [values]="[{label:'Rákóczibánya területe 4,57 km²'},
                      {label:'Teljes népesség 668 fő (2015. jan. 1.)'},
                      {label:temperature+' °C',img:iconUrl}]">
      </app-slide-show>
    </div>
  </div>
</div>
