<div class="slideshow-container h-100">
  <div #mySlides class="mySlides text-center" *ngFor="let value of values">
    <img class="weather-icon" *ngIf="value.img" [src]="value.img" alt="Weather icon">
    <p class="content text-center">{{value.label}}</p>
  </div>

  <div class="d-flex flex-wrap align-content-start arrow-container">
    <a class=" prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
  </div>
</div>

<div class="dot-container">
  <span *ngFor="let value of values, index as i" class="dot" (click)="currentSlide(i+1)"></span>
</div>
