<app-content-base [content]="{
title:'Arculati kézikönyv',
paragraphs:[
'A Települési Arculati Kézikönyv a települési környezet megjelenését, meghatározó jellemzőit és elvárásait foglalja össze, ' +
 'valamint építészeti szemléletformáló célt szolgál. A kézikönyvet az önkormányzat a nyilvánosság bevonásával, a település teljes közigazgatási területére készíttette el.',
 'A kézikönyv nem kizárólag szakembereknek készült, elsősorban a települési döntéshozók, a lakosság és az ide települni vágyók tájékoztatását segítő kiadvány, amely a' +
  ' jogszabályok útvesztője helyett röviden, lényegre törően és mindenki számára érthető módon mutatja be a Rákóczibányán élő közösség környezetalakítással kapcsolatos elvárásait.',
  'Mindenkinek hasznos lehet, aki telket vagy házat szeretne vásárolni a településen, új házat építene vagy meglévőt kíván felújítani, bővíteni, esetleg csupán érdeklődik a település iránt.',
  '<a href=http://www.rakoczibanya.hu/onkormanyzat/arculati-kezikoenyv/Rakoczibanya_TAK_veglegesitett.pdf>Letöltés</a>'
]
}"></app-content-base>
