<app-content-base [content]="{
title:'Szervezeti felépítés',
paragraphs:[
'<b>Jakab Gábor</b> - polgármester</br>e-mail: rakoczibanya@rakoczibanya.hu',
'<b>Domonkos Ferenc</b> – alpolgármester</br>'+
'<b>Tóth Krisztián Gábor</b> – alpolgármester</br>'+
'<b>Nagyné Németh Lívia</b> - képviselő</br>'+
'<b>Kulákné Bányai Ilona</b> - képviselő',
'<i>Pénzügyi Bizottság</i>',
'<b>Elnök:</b> Nagyné Németh Lívia</br>'+
'<b>Képviselő-testületi tag:</b> Kulákné Bányai Ilona</br>'+
'<b>Nem képviselő-testületi tag:</b> Krajerné Dányi Ágnes'
]
}"></app-content-base>
