@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,400&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/primeng/resources/themes/fluent-light/theme.css';
@import './variables';

body {
  background-color: $primary;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

@media (min-width: $mobile-width) {
  // For desktop

  body {
    //overflow: hidden;
  }

  .h-md-100 {
    height: 100vh;
  }
}

@media (max-width: $mobile-width) {
  // For mobile

  .h-sd-100 {
    height: 100vh;
  }
}
