@import "src/variables";

.circle {
  $size: 350px;

  width: $size;
  height: $size;
  background: rgba(242, 203, 5, 0.0);
  background: -webkit-linear-gradient(top right, rgba(242, 203, 5, 0.0), rgba(242, 203, 5, 1.0));
  background: -moz-linear-gradient(top right, rgba(242, 203, 5, 0.0), rgba(242, 203, 5, 1.0));
  background: linear-gradient(to bottom left, rgba(242, 203, 5, 0.0), rgba(242, 203, 5, 1.0));
  position: absolute;
  border-radius: 50%;
  margin-left: calc(100% - 225px);
  margin-top: calc(100% - 225px);

  //background-color: rgba(242, 203, 5, 0.5);
  ///* IE9, iOS 3.2+ */
  //background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIxMDAlIiBjeT0iMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2YyY2IwNSIgc3RvcC1vcGFjaXR5PSIwIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZjJjYjA1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  ///* Android 2.3- hack (needed for the actual radial gradient) */
  //background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIxMDAlIiBjeT0iMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2YyY2IwNSIgc3RvcC1vcGFjaXR5PSIwIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZjJjYjA1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==),
  //-webkit-gradient(radial, right top, 0, right top, 910, color-stop(0, rgba(242, 203, 5, 0)), color-stop(1, rgb(242, 203, 5)));
  ///* Android 2.3 */
  //background-image: -webkit-repeating-radial-gradient(right top, ellipse farthest-corner, rgba(242, 203, 5, 0) 0%, rgb(242, 203, 5) 100%);
  ///* IE10+ */
  //background-image: repeating-radial-gradient(ellipse farthest-corner at right top, rgba(242, 203, 5, 0) 0%, rgb(242, 203, 5) 100%);
  //background-image: -ms-repeating-radial-gradient(right top, ellipse farthest-corner, rgba(242, 203, 5, 0) 0%, rgb(242, 203, 5) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen \9
{
  .gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00f2cb05", endColorstr="#fff2cb05", GradientType=0);
  }
}

.side-images {

  @media (min-width: $mobile-width) {
    // For desktop
    margin-right: 1em;
    margin-left: 2em;
  }

  @media (max-width: $mobile-width) {
    // For mobile
    padding: 1em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-top: 0.75em !important;

      iframe, img {
        max-width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: $shadow;
      }

      iframe {
        height: 100% !important;
        margin-top: 0 !important;
      }

      img {
        cursor: pointer;
      }
    }
  }
}

.facebook-icon {
  height: 1.5em;
  opacity: 75%;
  cursor: pointer;

  &:hover {
    opacity: 100%;
  }

  @media (max-width: $mobile-width) {
    // For mobile
    margin-bottom: 1em;
  }
}

.right-panel {
  margin-left: 150px;


  .title-text {
    position: absolute;
    color: white;
    font-weight: 1000;
    font-size: 125px;
    padding-top: 240px;
    z-index: 3;
  }

  .history-panel {
    color: white;
    font-size: 28px;
    font-weight: bolder;
    text-shadow: $shadow;
    margin-top: 400px;

    padding-left: 20px;
    border-left: solid white 5px;

    a {
      border: none;
      border-radius: 50px;
      color: $primary-darker;
      background-color: white;
      padding: .1em .6em;
      text-shadow: none;
      box-shadow: $shadow;

      &:hover {
        background-color: lightgray;
        text-decoration: none;
      }
    }
  }
}

.content {
  color: white;
  font-size: 1.19em;
  font-weight: lighter !important;
  text-shadow: $shadow;

  @media (min-width: $mobile-width) {
    // For desktop

    border-left: solid white 0.25em;
    padding-left: 0.5em !important;
    margin-left: 1.5em;
    margin-top: 52.5%;
  }

  @media (max-width: $mobile-width) {
    // For mobile

    margin-top: 1em;
    border-top: solid white 0.25em;
    padding-top: 0.5em !important;
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
  }

  margin-bottom: 10%;

  text-align: left !important;
}

.my-button {
  border: none;
  border-radius: 50px;
  color: $primary-darker;
  background-color: white;
  padding: .1em .6em;
  text-shadow: none;
  box-shadow: $shadow;
  text-decoration: none;
}

.my-button-right-animation {
  @extend .my-button;

  -webkit-transition: padding 0.2s linear,
  box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear,
  padding 0.2s linear;
  -o-transition: box-shadow 0.1s linear,
  padding 0.2s linear;
  transition: padding 0.1s linear,
  box-shadow 0.1s linear;

  &:hover {
    padding-right: 1.2em;
  }
}

.my-button-both-side-animation {
  @extend .my-button;

  -webkit-transition: padding 0.2s linear,
  box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear,
  padding 0.2s linear;
  -o-transition: box-shadow 0.1s linear,
  padding 0.2s linear;
  transition: padding 0.1s linear,
  box-shadow 0.1s linear;

  &:hover {
    padding-left: 1.2em;
    padding-right: 1.2em;
  }
}

:host {
  @media (max-width: $mobile-width) {
    // For mobile
    ::ng-deep.p-dialog {
      width: 90%;
    }
  }

  @media (min-width: $mobile-width) {
    // For desktop
    ::ng-deep.p-dialog {
      width: 75%;
    }
  }
}
