<div class="d-md-flex h-md-100 ">
  <div class="col-md-3 d-md-flex justify-content-center h-md-100 align-content-center">
    <div class="side-images justify-content-center ml-5 h-md-100 align-content-center">
      <ul>
        <li>
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/8Ecv8lVJ19k" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </li>
        <li>
          <img src="assets/side-image-1.jpg">
        </li>
        <li>
          <img src="assets/side-image-2.jpg">
        </li>
        <li>
          <img src="assets/side-image-3.jpg">
        </li>
      </ul>
    </div>
  </div>
  <div class="right-panel col-md-9 d-md-flex justify-content-center h-md-100 align-content-center">
    <div class="justify-content-center h-md-100 align-items-center">
      <div class="title-text">
        RÁKÓCZIBÁNYA
      </div>
      <div class="history-panel">
        <p>Rákóczibánya területén 1858-ban kutattak először szénlelőhelyek után. A település első írásos emléke egy
          1870-es keresztelési anyakönyv.</p>
        <p>
          <a href="#">Bővebben</a>
        </p>
      </div>
    </div>
  </div>
  <div class="d-md-flex">
    F
  </div>
</div>



