<div class="row h-100 w-100 m-0">
  <div class="col-md-4 col-sm-6 w-100 h-100 p-0">
    <!--  Left col  -->
    <div class="side-images justify-content-center h-100 align-content-center">
      <ul class="w-100 justify-content-center align-content-center">
        <li>
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/8Ecv8lVJ19k" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </li>
        <li>
          <img src="assets/side-image-1.jpg">
        </li>
        <li>
          <img src="assets/side-image-2.jpg">
        </li>
        <li>
          <img src="assets/side-image-3.jpg">
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-7 col-sm-6 p-0 content">
    <!--  Right col  -->
    <p>
      Rákóczibánya területén 1858-ban kutattak először szénlelőhelyek után. A település első írásos emléke egy 1870-es
      keresztelési anyakönyv.
    </p>
    <a class="my-button-right-animation"  routerLink="tortenelem" href="#">Bővebben</a>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="d-md-flex mt-2 pl-5">
  <a href="https://www.facebook.com/rakoczibanya" target="_blank">
    <img class="facebook-icon" src="assets/Facebook-Logo.svg">
  </a>
</div>
