@import "src/variables";

.side-images {

  @media (min-width: $mobile-width) {
    // For desktop
    margin-right: 1em;
    margin-left: 2em;
  }

  @media (max-width: $mobile-width) {
    // For mobile
    padding: 1em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-top: 0.75em !important;

      iframe, img {
        max-width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: $shadow;
      }

      iframe {
        height: 100% !important;
        margin-top: 0 !important;
      }

      img {
        cursor: pointer;
      }
    }
  }
}

.facebook-icon {
  height: 1.5em;
  opacity: 75%;
  cursor: pointer;

  &:hover {
    opacity: 100%;
  }

  @media (max-width: $mobile-width) {
    // For mobile
    margin-bottom: 1em;
  }
}

.right-panel {
  margin-left: 150px;


  .title-text {
    position: absolute;
    color: white;
    font-weight: 1000;
    font-size: 125px;
    padding-top: 240px;
    z-index: 3;
  }

  .history-panel {
    color: white;
    font-size: 28px;
    font-weight: bolder;
    text-shadow: $shadow;
    margin-top: 400px;

    padding-left: 20px;
    border-left: solid white 5px;

    a {
      border: none;
      border-radius: 50px;
      color: $primary-darker;
      background-color: white;
      padding: .1em .6em;
      text-shadow: none;
      box-shadow: $shadow;

      &:hover {
        background-color: lightgray;
        text-decoration: none;
      }
    }
  }
}

.content {
  color: white;
  font-size: 1.19em;
  font-weight: lighter !important;
  text-shadow: $shadow;

  @media (min-width: $mobile-width) {
    // For desktop

    border-left: solid white 0.25em;
    padding-left: 0.5em !important;
    margin-left: 1.5em;
    margin-top: 52.5%;
  }

  @media (max-width: $mobile-width) {
    // For mobile

    margin-top: 1em;
    border-top: solid white 0.25em;
    padding-top: 0.5em !important;
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
  }

  margin-bottom: 10%;

  text-align: left !important;
}

.my-button {
  border: none;
  border-radius: 50px;
  color: $primary-darker;
  background-color: white;
  padding: .1em .6em;
  text-shadow: none;
  box-shadow: $shadow;
  text-decoration: none;
}

.my-button-right-animation {
  @extend .my-button;

  -webkit-transition: padding 0.2s linear,
  box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear,
  padding 0.2s linear;
  -o-transition: box-shadow 0.1s linear,
  padding 0.2s linear;
  transition: padding 0.1s linear,
  box-shadow 0.1s linear;

  &:hover {
    padding-right: 1.2em;
  }
}

.my-button-both-side-animation {
  @extend .my-button;

  -webkit-transition: padding 0.2s linear,
  box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear,
  padding 0.2s linear;
  -o-transition: box-shadow 0.1s linear,
  padding 0.2s linear;
  transition: padding 0.1s linear,
  box-shadow 0.1s linear;

  &:hover {
    padding-left: 1.2em;
    padding-right: 1.2em;
  }
}

:host {
  @media (max-width: $mobile-width) {
    // For mobile
    ::ng-deep.p-dialog {
      width: 90%;
    }
  }

  @media (min-width: $mobile-width) {
    // For desktop
    ::ng-deep.p-dialog {
      width: 75%;
    }
  }
}
