<app-content-base [content]="{
title:'Településtörténet',
paragraphs:[
'Rákóczibánya Nógrád megye északkeleti részén, a Kazár patak mentén fekszik. ' +
 'A település északon Kazár, keleten Nemti községgel, délen és nyugaton pedig Bátonyterenye kisterenyei településrészével határos.',
 'Rákóczibánya területén 1858-ban kutattak először szénlelőhelyek után, és a település első írásos emléke is a XIX. '+
 'századból való, az 1867-es vármegyei kataszteri térkép adatai alapján, a község területén a Károlyi család kastélya volt az egyetlen ingatlan.'+
'A település létezését bizonyítja az 1870-es keresztelési anyakönyv is, amely tartalmaz egy praedium Tőkés bejegyzést. A Tőkéspuszta név később a mai ' +
 'Rákóczibánya megfelelőjeként fordul elő a forrásokban.',
 'Nemti és Homokterenye határában – a későbbi Rákóczibánya területén – 1881-ben nyitott bányát az Észak-magyarországi Kőszénbánya Rt. ' +
  'A bányanyitás alapjaiban változtatta meg a település fejlődését, kialakulása is a bányának köszönhető. A következő utalás a település ' +
   'létezésére az 1882-es helységnévnaptár volt, amely Tőkés néven Nemti községhez tartozó egységként tünteti fel. 1884-ben a település már ' +
    'rendelkezett haranggal is, amelyet Walser mester készített a telep lakói számára, erősítve ezzel a hitet a bányászok körében. ' +
     'Egy évvel később a források szerint már volt a falunak saját nyolcosztályos iskolája is. Az 1904. június 1-én keltezett képviselő-testületi ' +
      'jegyzőkönyvben már Nemti-bánya néven volt utalás a településre, majd egy évvel később „Nemtibánya telep” Tőkés pusztával együtt Nemti község ' +
       'részét képezte. A „Kalapat dűlőben” felépített bányakolóniához 1923-ban és 1924-ben építették hozzá az úgynevezett munkatelepet, 1939-ben ' +
        'pedig átadták a település templomát is. A ’20-as években a Nemtibánya nevet Horthy-telepre változtatták: 1926-ban már ezen a néven említik ' +
         'a Bányász című folyóiratban. A kormányzó nevét egészen 1948-ig viselte a település, akkor előbb a Nemti-Rákóczitelep nevet kapta, de egy ' +
          'évvel később ismét Nemti-bányaként említik.',
'A település fejlődésének újabb lendületet adtak az ötvenes évekbeli bányanyitások, ' +
 'Szurdok lejtős aknát 1950-ben, Tőkés lejtős aknát 1952-ben, György lejtős aknát 1955-ben, Gyula lejtős aknát és külfejtést 1956-ban, a ' +
  'Rákóczi-tárót pedig 1959-ben nyitották, ez utóbbi 1959 és 1967 között tanbányaként működött. Erre az időszakra datálható a település utolsó ' +
   'nagy fejlesztése is, 1957 márciusában kezdték meg az új lakótelep építését, és 1958-ban 113 bányásznak adtak át új, kétszobás lakásokat. ' +
    'Ekkor az „Újtelepen” 148, az „Öregtelepen” pedig 125 család élt. A településen dolgozók kérésére a községet 1958-ban Rákóczitelep néven a ' +
     'tőle négy kilométerre fekvő Kisterenyéhez csatolták. Ebben az időszakban virágzott a település, a bánya „jó gazdának bizonyult”, ' +
      'Rákóczitelepnek saját iskolája, saját temploma, kaszinója, focicsapata és mozija is volt. Az „aranyévek” a bányák bezárásával értek ' +
       'véget, a György aknát 1966-ban, Gyulát és Tőkést 1967-ben zárták be, majd 1970-ben a Szurdok, 1971-ben pedig a Rákóczi-táró következett.',
'1979 májusában az utolsó diákok is elballagtak a rákóczitelepi iskolából, az épületet a Magyar Állami Földtani Intézet vette át. Rákóczitelep ' +
 'Nagybátony és Kisterenye 1989-es egyesítését követően Bátonyterenye része lett, fejlődése azonban elmaradt a többi városrész fejlődésétől, ' +
  'éppen ezért a helyiek 2000. novemberében, egy lakossági fórumon mondták ki először, hogy Rákóczibánya szeretne elszakadni Bátonyterenyétől, ' +
   'és önállóan szeretne a jövőben gazdálkodni. Aztán 2001. február 11-én megalakult a Rákóczi-bányatelep Önállósodását Előkészítő Bizottság, ' +
    'és még abban az évben elkészítették a leváláshoz szükséges számításokat, dokumentumokat. Mádl Ferenc, a Köztársaság Elnöke 99/2001. (VIII.27.) ' +
     'KE számú határozatával hirdette ki Rákóczibánya önállóvá válását, és ez a rendelet a következő választáson, 2002-ben lépett hatályba.',
'A falu Rákóczibánya néven közigazgatásilag 2002 októberétől önálló.',
'<h1>Rákóczibánya címere</h1>',
'Rákóczibánya Község Önkormányzata 2003-ban alkotta meg címerét, az új jelképet pedig a 2003-as falunapon mutatták be a településen élőknek.',
'A település címere egy álló háromszög pajzs, amelynek arany mezejét ágas hasítás osztja három részére. A pajzsfőben két egymást keresztező vörös ' +
 'bányász-kalapács lebeg. A jobb oldali mezőben fegyverzett ágaskodó fekete oroszlán lebegve fordul balra. A bal mezőben koronás, fegyverzett, fekete ' +
  'sas szárnyait kibontva, lebegve fordul jobbra; jobb karmával ezüst szablyát ragad. A pajzs felső élén fekete-arany tekercs nyugszik, aranybojtos ' +
   'vörös fonákú dísze két oldalon lecsüng. A pajzs alatt négyszer hajtott ezüst szalagon a település neve jelenik meg, feketével.',
   'A pajzs hármas osztása a település kialakulásának időszakait jelzik: a régi kolónia telep, az öreg telep, és az újtelep részekre utalva. ' +
    'A bányászkalapácsok és a fekete oroszlán a község történetét meghatározó természeti kincset a „fekete aranyat” és a sok bányász nemzedék ' +
     'kitartását, elszántságát, munkaszeretetét jelenítik meg. A koronás fekete sas a valószínűsíthető névadót – a fejedelmi Rákóczi családot – idézi.'
]
}"></app-content-base>
